@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Insurance Mutual, Inc.</h1>
    <p class="lead">Insurance Mutaul, Inc. is the leading provider for car insurance in the United States. Click "Get A Quote" to get your free car insurance quote!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            We''l ask you a few basic questions. After you have submitted your answers, we will review them and give you a free quote.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Get more for your buck!</h2>
        <p>With our Full Coverage Plan, you will be covered from all sorts of freak accidents!</p>
    </div>
    <div class="col-md-4">
        <h2>Any Questions?</h2>
        <p>If you have any questions, feel free to click "Contact" to get in touch with one of our agents!</p>
    </div>
</div>